<div class="container">
  <div>
    <h1>Lista de Compras de Supermercado</h1>
  </div>

  <div class="add-item-container">
    <input type="text" [(ngModel)]="novoItem" placeholder="Adicione um item" />
    <button id="add-button" (click)="adicionarItem()" [disabled]="novoItem.trim() === ''">Adicionar</button>
  </div>

  <div class="table-container">
    <table *ngIf="items.length > 0; else emptyList" class="full-width-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Comprado</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td>
            <input 
              *ngIf="item.editing" 
              [(ngModel)]="item.title" 
              (blur)="salvarEdicao(item)" 
              placeholder="Descrição do item" 
            />
            <span *ngIf="!item.editing">{{ item.title }}</span>
          </td>
          <td>{{ item.included ? 'Sim' : 'Não' }}</td>
          <td>
            <button (click)="marcarComoComprado(item)" [disabled]="item.title.trim() === ''">Comprado</button>
            <button (click)="editarItem(item)">Editar</button>
            <button (click)="excluirItem(item, i)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #emptyList>
      <p>Nenhum item na lista!</p>
    </ng-template>
  </div>
</div>
